<div class="card">
  <div
    (click)="navigateToTrack('album', track.album.id)"
    class="image"
    [style.background-image]="'url(' + (track.album.image || '') + ')'"
  >
    <fa-icon class="playIcon" [icon]="playIcon"></fa-icon>
  </div>

  <div class="mt-2">
    <span class="title-sm">{{ track.name || "" }}</span>

    <div (click)="navigateToTrack('artist', track.artists[0].id)">
      <p class="title-xs" *ngIf="track.artists && track.artists.length > 0">
        {{ track.artists[0].name || "" }}
      </p>
    </div>
  </div>
</div>
