@import 'variables.scss';

div{

    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        flex-grow: 0;
        width: 40px;
        border: 2px solid $background-color;
        border-radius: 50%;
    }

    span{
        flex-grow: 1;
        margin-left: 12px;
        font-size: .95rem;
        font-weight: 600;
        color: $gray-color;
    }

    .icon{
        flex-grow: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: $gray-color;
        
        &:hover{
            color: $white-color;
        }
    }

}