@import "variables.scss";

.bannerCard {
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  align-items: center;
  padding: 32px;

  .image{
    width: 220px;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: $box-shadow;
  }

  .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;


    span{
        font-size: 3.2rem;
        
    }

    p{
        margin: 8px 0 0 0;
        font-weight: 600;
        font-size: 1.1rem;
    }
  }
}
