<div class="sidebar-container">
    <div class="spotifyLogo flex flex-center">
        <img src="../../../assets/images/Spotify_Logo_CMYK_Green.png" alt="Spotify Logo">
    </div>
    
    <div class="menu-container flex options">
        <app-sidebar-button [description]="'Home'"
        [active]="activeMenu === 'Home'"
        (click) = "handleClick('Home')"
        >
        <div>
            <fa-icon [icon]="home"></fa-icon>    

        </div>
        </app-sidebar-button>

        <app-sidebar-button [description]="'Search'"
        [active]="activeMenu === 'Search'"
        (click) = "handleClick('Search')"
        >
            <fa-icon [icon]="search"></fa-icon>
        </app-sidebar-button>
        
    </div>

    <div class="divisor"></div>

    <div class="menu-container flex">
        <span class="playlist-title">
            Playlists
        </span>

        <div class="playlist-scroll">
            <app-sidebar-button 
            
                *ngFor="let playlist of playlists"
                [description]="playlist.name"
                [active]="activeMenu === playlist.id"
                (click)="handleClick(playlist.id)"
                
                >
                <div
                    class="playlistImage"
                    [style.background-image]="'url(' + (playlist.imgUrl || '') + ')'"
                >
                </div>

            </app-sidebar-button>
            


        </div>

    </div>

</div>


<div class="user">
    <app-user-footer></app-user-footer>
</div>