@import "variables.scss";


$m-menu-gap: 16px;
$h-disconsider: calc(220px);

:host{
    width: 300px;
    min-width: 275px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;

    .sidebarHeader{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 16px;
    }

    .sideBarContent{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 16px;
        font-size: .9rem;
        font-weight: 700;
        color: $gray-color;

        .libraryIcon{
            // cursor: pointer;

            .icon{
                margin-right: 12px;
            }
            &:hover{
                color: $white-color;
            }
        }
        .playlistUser{
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;

            .playlist-scroll{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: $m-menu-gap;
                    max-height: calc(95vh - $h-disconsider);
                    overflow-y: auto;
                    
                    &::-webkit-scrollbar{
                        display: none;
                    }
                    
                
                    .playlistImage{
                        width: 50px;
                        height: 40px;
                        border-radius: 4px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }
                
                
                }

                .user{
                    flex-grow: 0;
                    display: block;
                    width: 100%;
        
            
                }
        }



            
    
   
    }
}