<div class="card sidebarHeader">
    <app-sidebar-button [description]="'Home'"
    [active]="activeMenu === 'Home'"
    (click) = "handleClick('Home')"
    >
    <div>
        <fa-icon [icon]="home"></fa-icon>    
    
    </div>
    </app-sidebar-button>
    
    <app-sidebar-button [description]="'Search'"
    [active]="activeMenu === 'Search'"
    (click) = "handleClick('Search')"
    >
        <fa-icon [icon]="search"></fa-icon>
    </app-sidebar-button>
</div>

<div class="card sideBarContent">
    <span class="libraryIcon">
        <fa-icon class="icon" [icon]="library"></fa-icon> Your Library
    </span>

    <div class="playlistUser">
        
        <div class="playlist-scroll mt-2">
            <app-sidebar-button 
            
                *ngFor="let playlist of playlists"
                [description]="playlist.name"
                [active]="activeMenu === playlist.id"
                (click)="navigateToPlaylistTracks(playlist.id)"
                
                >
                <div
                    class="playlistImage"
                    [style.background-image]="'url(' + (playlist.imgUrl || '') + ')'"
                >
                </div>
            </app-sidebar-button>
            
        </div>
        
        <div class="user">
            <app-user-footer></app-user-footer>
        </div> 
    </div>

</div>