$background-color: #0a0a0a;
$primary-color: #4ac776;
$white-color: #f9f9f9;
$secondary-color: #151515;
$box-shadow: 0 0 10px rgba(0,0,0,0.5);
$gray-color: #909090;
$card-hover-color: #292929;
$input-color: #222222;
$input-hover-color: #2a2a2a;
$icon-color: #1db954;
$gray-color-light: #b3b3b31f;
$gray-color-2: #676767;