<div class="mt-4 tableContainer">
    
    <table>
        <thead>
            <tr>
                <th class="w-6">#</th>
                <th class="w-35">Title</th>
                <th class="w-30">Artist</th>
                <th class="w-9 right"> <fa-icon class="playIcon" [icon]="clock"></fa-icon></th>
                <th class="w-20">Album</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let track of tracks; let i = index"
                (mouseover)="hoveredRowIndex = i"
                (mouseout)="hoveredRowIndex = null">
                <td>
                    <ng-container *ngIf="hoveredRowIndex !== i; else playIcon">
                        {{i + 1}}
                    </ng-container>
                    <ng-template #playIcon>
                        <fa-icon class="playIcon" [icon]="play"></fa-icon>
                    </ng-template>
                </td>
                <td>{{track.name}}</td>
                <td>{{getArtistsNames(track.artists)}}</td>
                <td class="right">{{track.time}}</td>
                <td>{{track.album.name}}</td>
            </tr>
        </tbody>
    </table>

</div>
